.navbar {
    grid-area: n;
    background-color: #212121;
}

.item {
    color: white;
}
.active {
    color: aquamarine;
}
.listText {
    font-size: 20px;
    color: chartreuse;
    padding-top: 40px;
}